* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.flex-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-flow: wrap-reverse;
   height: 100vh;
   background-color: black
}

.flex-container .flex-item-item1 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: yellow;
   border: 2px solid rgb(255, 251, 0) ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
   }

   .flex-container .flex-item-item2 {
       margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(47, 0, 255);
   border: 2px solid rgb(47,0,255) ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
   }

      .flex-container .flex-item-item3 {
          margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(255, 0, 0);
   border: 2px solid 255,0,0 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
   }

      .flex-container .flex-item-item4 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(255, 255, 255);
   border: 2px solid 255,255,255;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
   }

      .flex-container .flex-item-item5 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(8, 143, 136);
   border: 2px solid 8,143,136 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
   }

      .flex-container .flex-item-item6 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(0, 255, 42);
   border: 2px solid 0,255,42 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
   }

   .git h1{
      text-align: center;
      color: #311094;
      font-size: 20px;
      font-weight: bold;
text-transform: uppercase;
   }
.git p{
      text-align: justify;
      color: tomato;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
   }

   .git spam {color:rgb(37, 61, 0);
   font-size: 16px;
font-style: italic;}

.git p .tips
{
   color:rgb(0, 26, 255);
}
.git p .tips2{
color: red;
text-transform: uppercase;
}

.ppal{
   margin-top: 20px;
   margin-bottom: 20px;
   height: 100%;
   width: 100%;
   padding: auto;
   background-color: burlywood;

}

.barra-ppal .caja-barra{height: 50px;
background-color: rgb(255, 255, 255);
padding: 10px;
box-shadow: 3px 3px 15px 0px rgba(150,75,0,0.75);
-webkit-box-shadow: 3px 3px 15px 0px rgba(   150,75,0,0.75);
-moz-box-shadow: 3px 3px 15px 0px rgba(150,75,0,0.75);
width: 100%;
position: fixed;
}
.barra-ppal .caja-barra .elemento-barra{
   list-style: none;
   color: black;
}

.elemento-barra a{
   text-decoration: none;
   color: black;        
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase; margin: 10px;
   font-family: cursive;
   transition: 0.5s;
   transition-property: all;

}

.elemento-barra a:hover{
   color: brown;
   font-size: 20px;
}
   
.caja-barra{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-flow: wrap;
}

.main-ppal{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 .h1-ppal{
   color: white;
   font-size: 100px;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   text-size-adjust: auto;
   font-family: Arial, sans-serif;
   text-shadow: 2px 2px 4px #000000;
 }