.contenedor-de-fondos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}


/* ----¬define las propiedades a transicionar--- */
                /* transition-property: all; */
/* ----define duracion de la transición--- */
             /* transition-duration: 3s; */
 /* ----define las propiedades a transicionar--- */
                /* transition-timing-function: ease-in; */
 /* ----define el retraso (inicio) de la transición--- */
             /* transition-delay: 1s; */
/* ----SHORT-CUT: "transition-property" "transition-duration"               "transition-timing-funtion";--- */
                /* transition: all 3s ease-in 1s; */


.contenedor-de-fondos .fondo-color {
    width: 400px;
    height: 500px;
    color: rgb(243, 243, 243);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align:center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: tomato;
    transition: 0.5s;
    transition-property: all;
}

.fondo-color:hover{
filter: brightness(80%);
transform: scale(1.05);
}
.contenedor-de-fondos .fondo-lineal {
    width: 400px;
    height: 500px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align:center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    transition: 0.5s;
    transition-property: all;
}
.fondo-lineal:hover{
filter: brightness(80%);
transform: scale(1.05);
}
.contenedor-de-fondos .fondo-radial {
    width: 400px;
    height: 500px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align:center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 25%, rgba(0, 212, 255, 1) 66%);
    transition: 0.5s;
    transition-property: all;
}
.fondo-radial:hover{
filter: brightness(80%);
transform: scale(1.05);
}

.contenedor-de-fondos .fondo-imagen {
    width: 400px;
    height: 500px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align:center;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url(../image/bokeh-background-4qi0v1e2e3as2r2o.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    transition-property: all;}

.fondo-imagen:hover{
filter: brightness(80%);
transform: scale(1.05);
}


.transition-contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; }


.transition-contain div {
    text-align: center;
    width: 400px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    padding: 5px;
    border: 2px solid #181313;
    border-radius: 8px;
    background-color: salmon;
}


.transition-contain .t-linear {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.5ms;
}

.transition-contain .t-linear:hover{
    width: 50%;
    transform: scale();
}

.transition-contain .t-ease {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:ease;
    transition-delay: 0.5ms;
}

.transition-contain .t-ease:hover{
    width: 50%;
}

.transition-contain .t-ease-in {
    transition-property: all;
    transition-duration:0.5s;
    transition-timing-function:ease-in;
    transition-delay: 0.5ms;}

.transition-contain .t-ease-in:hover{
    width: 50%;
}

.transition-contain .t-ease-out {
    transition-property: all;
    transition-duration:0.5s;
    transition-timing-function:ease-out;
    transition-delay: 0.5ms;}

.transition-contain .t-ease-out:hover{
    width: 50%;
}

.transition-contain .t-ease-in-out {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
    transition-delay: 0.5ms;}

.transition-contain .t-ease-in-out:hover{
    width: 50%;
}

.transition-contain .t-steps {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function:steps(6);
    transition-delay: 0.5ms;}

.transition-contain .t-steps:hover{
    width: 50%;
}

.translate {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.translate div{
    text-align: center;
    width: 200px;
    height: 200px;
    border:2px solid black;
    margin: 20px;
    border-radius: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(202, 211, 22);}

/* -----------------------VAMOS CON LOS TRANSLATE ---------------------*/
.translate .pelota-uno{
    transition: all 1s ease-in-out;
}

.translate .pelota-uno:hover{
transform: translateX(300px);
}

.translate .pelota-dos{
    transition: all 1s ease-in-out;
}

.translate .pelota-dos:hover{
transform: translateY(300px);}

.translate .pelota-tres{
    transition: all 1s ease-in-out;
}

.translate .pelota-tres:hover{
transform: translate(300px, -200px);}

.translate .pelota-cuatro{
    transition: all 1s ease-in-out;
}

.translate .pelota-cuatro:hover{
transform: scale(1.5);}

.translate .pelota-cinco{
    transition: all 1s ease-in-out;
}

.translate .pelota-cinco:hover{
transform: scaleX(1.5);
}

.translate .pelota-seis{
    transition: all 1s ease-in-out;
}

.translate .pelota-seis:hover{
transform: scaleY(1.5);
}

.translate .pelota-siete{
    transition: all 1s ease-in-out;
}

.translate .pelota-siete:hover{
transform: scale(0.9);
}

.translate .pelota-ocho{
    transition: all 1s ease-in-out;
}

.translate .pelota-ocho:hover{
transform: scale(-1, 1);
}

.translate .pelota-nueve{
    transition: all 1s ease-in-out;
}

.translate .pelota-nueve:hover{
transform: rotateX(50deg);
}

.translate .pelota-diez{
    transition: all 1s ease-in-out;
}

.translate .pelota-diez:hover{
transform: rotateY(50deg);
}

.translate .pelota-once{
    transition: all 1s ease-in-out;
}

.translate .pelota-once:hover{
transform: rotatez(50deg);
}

/* <!-- !!animation examples!!-------------- --> */

.animation .banner-1{
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(243, 243, 245);
    background-color: #181313;
    border: 3px solid burlywood;
    text-shadow: -1px 2px 11px rgba(241,234,175,0.99);
    box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
        -webkit-box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
        -moz-box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
        -moz-animation-direction: ;

}

.animation .banner-1 .p-1{
        animation-name: slidein;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-direction:initial;
    animation-iteration-count:;
}
@keyframes slidein{ 
/* from- desde */
/* to- hasta */
from{
    margin-left: 100%;
    width: 300%;
}
to{
    margin-left: 0%; ;
    width: 100%;
}
}
.animation {
    width: 100%; /* Asegura que ocupe el ancho disponible */
    overflow-x: hidden; /* Oculta lo que se salga por los lados (eje X) */
    position: relative; /* Buena práctica para contener elementos absolutos si los hubiera */
}

.animation .banner-2{
    margin-bottom: 40px;
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(243, 243, 245);
    background-color: #181313;
    border: 3px solid burlywood;
    text-shadow: -1px 2px 11px rgba(241,234,175,0.99);
    box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
        -webkit-box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
        -moz-box-shadow: -5px 3px 58px 11px rgba(232,160,20,0.74);
}

.animation .banner-2 .p-2{
        animation-name: slideinin;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-direction:initial;
    animation-iteration-count:infinite;
    white-space: nowrap;
    display: inline-block;
    width: auto;
    
}
@keyframes slideinin{ 
/* from- desde */
/* to- hasta */
from {
    transform: translateX(100vw);}
to {
    transform: translateX(-100%);}
}

.cuadro{
    width: 300px;
    height: 300px;
    margin: 100px;
}

.anima{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.anima:hover{
animation:anima 4s forwards infinite;

}

@keyframes anima{

    0%{
border-radius: 0 0 0 0;
background-color: aqua;
    }

    25%{ border-radius: 50% 0 0 0;
background-color: rgb(72, 0, 255);

    }

    50%{
border-radius: 50% 50% 0 0;
background-color: rgb(0, 255, 68);
    }

    75%{border-radius: 50% 50% 50% 0%;
background-color: rgb(255, 94, 0);}

    100%{border-radius: 100%;
background-color: rgb(238, 255, 0);

    }
}