* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.flex-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-flow: wrap-reverse;
   height: 100vh;
   background-color: black
}

.flex-container .flex-item-item1 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: yellow;
   border: 2px solid rgb(255, 251, 0) ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(232,207,46,0.75);
   }

   .flex-container .flex-item-item2 {
       margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(47, 0, 255);
   border: 2px solid rgb(47,0,255) ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(46,65,232,0.75);
   }

      .flex-container .flex-item-item3 {
          margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(255, 0, 0);
   border: 2px solid 255,0,0 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(227,20,20,0.75);
   }

      .flex-container .flex-item-item4 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(255, 255, 255);
   border: 2px solid 255,255,255;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(255,255,255,0.75);
   }

      .flex-container .flex-item-item5 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(8, 143, 136);
   border: 2px solid 8,143,136 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(20,224,224,0.75);
   }

      .flex-container .flex-item-item6 {
   margin: 5px;
   height: 150px;
   width: 150px;
   background-color: rgb(0, 255, 42);
   border: 2px solid 0,255,42 ;
   border-radius: 100px;
   box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
-webkit-box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
-moz-box-shadow: -2px -1px 19px 0px rgba(20,224,65,0.75);
   }

   .git h1{
      text-align: center;
      color: #311094;
      font-size: 20px;
      font-weight: bold;
text-transform: uppercase;
   }
.git p{
      text-align: justify;
      color: tomato;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
   }

   .git spam {color:rgb(37, 61, 0);
   font-size: 16px;
font-style: italic;}

.git p .tips
{
   color:rgb(0, 26, 255);
}
.git p .tips2{
color: red;
text-transform: uppercase;
}