* {margin: 0;
padding: 0;
box-sizing: border-box;}



body{background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/* a {color: inherit;
    text-decoration: none;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;} */

ul,li{list-style: none;
    color:inherit;
}

a{text-decoration: none; color: black;}

.container-grids {display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 100PX 100PX AUTO 100PX;
grid-template-areas: 
"header header header"
"nav nav nav"
"main main aside"
"footer footer footer";

}

.header {

    height: 100%;
    grid-area: header;
    background-color: rgb(209, 234, 245);
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.header .container-a {
    padding: 0;
    width: 20rem;
    margin:0px;
    font-size: 25px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 200;
    box-sizing: border-box;

}
.header .iconos{
    width: 15rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header  .iconos img{width: 30px;}

.header .search input{
    width: 250px;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);}
    .header .search label{font-weight: bolder;
    font-style: 'poppins';}

.nav{
grid-area: nav;
width: 100%;
background-color: aliceblue;
box-shadow: -1px 12px 13px -7px rgba(68,129,217,0.54);
-webkit-box-shadow: -1px 12px 13px -7px rgba(68,129,217,0.54);
-moz-box-shadow: -1px 12px 13px -7px rgba(68,129,217,0.54);
    list-style: none;}

.nav .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-family: "Fugaz One", sans-serif;
    font-weight: bold;
}

.nav .menu ul li a{ text-decoration: none;}

.main {
    grid-area: main;

}

.main .container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin: 25px;
width: 200px;
height: 300px;
border-radius: 15px;
background-color: rgba(133, 196, 204, 0.849);
color: cornsilk;
text-align: center;
box-shadow: 0px 7px 13px 6px rgba(150,150,150,0.47);
-webkit-box-shadow: 0px 7px 13px 6px rgba(150,150,150,0.47);
-moz-box-shadow: 0px 7px 13px 6px rgba(150,150,150,0.47);
}
.card button{color: black;
border-radius: 10px;
width: 100px;}

.card img{width: 100%;
height:60%;
border-radius: 15px 15px 0px 0px;
}

.card p{
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size:12px;
}

.aside {
grid-area: aside;
width: 90%;
font-size: 18px;
color: rgb(51, 50, 50);
text-align: justify;
font-weight: bold;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-transform: uppercase;
}

.aside h1 {margin: 10px; }

.footer {
grid-area: footer;
width: 100%;
height: 100%;
background-color: dimgrey;

}
.footer .contenedor-redes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.footer h2{
    margin: 10px;
    text-align: center;
text-transform: uppercase;
color: white;
font-size: 20px;}
.footer img{
margin: 15px;
    width: 40px;
    margin-top: 0;  
}

